:root {
  --cor-primaria: #1f6f73;
  --cor-segundaria: #556b1f;
  --cor-destaque1: #1d4d72;
  --cor-destaque2: #333333;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: block;
  text-align: center;
  background: var(--cor-destaque1);
  color: #fff;
}

.texto {
  padding: 15px;
}

.perfil {
  border-radius: 50%;
  margin: 15px;
}
footer {
  display: block;
  text-align: center;
  padding: 15px;
  background: var(--cor-destaque1);
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.links {
  display: flex;
  justify-content: space-around;
  background: var(--cor-destaque2);
  color: #fff;
  font-size: 25px;
  padding: 6px;
}

main {
  display: grid;
  justify-items: center;
}

h3 {
  background: var(--cor-destaque1);
  color: #fff;
  padding: 5px;
}
.card {
  border: 1px solid var(--cor-destaque2);
  border-radius: 8px;
  text-align: center;
  width: 800px;
  height: auto;
}

.card1 {
  border: 1px solid var(--cor-destaque2);
  border-radius: 8px;
  text-align: center;
  width: 800px;
  height: auto;
}
