:root {
  --cor-primaria: #1f6f73;
  --cor-segundaria: #556b1f;
  --cor-destaque1: #1d4d72;
  --cor-destaque2: #333333;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: block;
  text-align: center;
  background: var(--cor-destaque1);
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  background: var(--cor-destaque2);
  color: #fff;
  font-size: 25px;
}

main {
  display: grid;
}

.card {
}
