:root {
  --cor-primaria: #ffffff;
  --cor-segundaria: #556b1f;
  --cor-destaque1: #1d4d72;
  --cor-destaque2: #333333;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  max-width: 1200px;
  margin: 30px auto;
}

/* HEADER */

header h1 {
  background: var(--cor-destaque1);
  color: var(--cor-primaria);
  text-align: center;
  padding: 20px;
  font-size: 1.4rem;
}

h2,
h3 {
  text-align: center;
}
nav {
  background: var(--cor-destaque2);
  color: var(--cor-primaria);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  display: block;
  color: var(--cor-primaria);
  text-decoration: none;
  padding: 15px;
}

nav a:hover {
  background: var(--cor-destaque1);
}

/* MAIN */

main h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 2.5rem;
}

.divisao {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}

.card {
  background: var(--cor-primaria);
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card h2 {
  background: var(--cor-destaque1);
  color: var(--cor-primaria);
  text-align: center;
  padding: 12px;
}

.card img {
  width: 160px;
  display: block;
  margin: 10px;
  border-radius: 50%;
}

.card p {
  padding: 15px;
  line-height: 1.6;
}

.card h4 {
  text-align: center;
}

/* FOOTER */

footer {
  max-width: 1200px;
  margin: 30px auto 0;
  background: var(--cor-destaque1);
  color: var(--cor-primaria);
  text-align: center;
  padding: 20px;
}

#ultimaModificacao {
  color: var(--cor-primaria);
}
