* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #49689e;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 20px;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: #000000;
}
nav a:hover {
  color: #ffffff;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

main h1 {
  display: block;
}
img {
  height: 200px;
  width: auto;
}

figure {
  display: grid;
  grid-template-columns: repeat (auto-fit, minmax(200px, 1fr));
  margin-bottom: 15px;
}

footer {
  background-color: #49689e;
  padding: 15px;
}
